{%extends 'base/base.html'%}

{%block title%}Página Inicial{%endblock%}
{%block content%}
<section class="content">
  <div class="container-fluid">
   <div class="block-header">
    <h2>INFORMAÇÕES</h2>
    <small>Informações do sistema para o dia {{data_atual}}, <b>atualize esta página diariamente.</b></small>
  </div>
  <div class="row clearfix">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="card inicial-card">
       <div class="header">
         <h2><i class="material-icons">&#xE85D;</i>CADASTRO</h2>
         <div>
           <small>N° de itens adicionados a base de dados</small>
         </div>
       </div>
       <div class="body">
         <table class="table table-hover">
           <tbody>
            {% if perms.cadastro.view_cliente %}
            <tr>
              <td> 
                <a href="{% url 'cadastro:listaclientesview' %}">
                  <div style="height:100%;width:100%;">
                    <b>{{quantidade_cadastro.clientes}}</b> Clientes cadastrados
                  </div>
                </a>              
              </td>
            </tr> 
            {% endif %}
            {% if perms.cadastro.view_produto %}
            <tr>
              <td> 
                <a href="{% url 'cadastro:listaprodutosview' %}">
                  <div style="height:100%;width:100%;">
                    <b>{{quantidade_cadastro.produtos}}</b> Produtos cadastrados
                  </div>
                </a>              
              </td>
            </tr> 
            {% endif %}
            {% if perms.cadastro.view_empresa %}
            <tr>
              <td> 
                <a href="{% url 'cadastro:listaempresasview' %}">
                  <div style="height:100%;width:100%;">
                    <b>{{quantidade_cadastro.empresas}}</b> Empresas cadastradas
                  </div>
                </a>              
              </td>
            </tr> 
            {% endif %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card inicial-card">
     <div class="header">
      <h2><i class="material-icons">&#xE8DF;</i>AGENDA HOJE ({{data_atual}})</h2>
    </div>
    <div class="body">
      <table class="table table-hover">
        <tbody>
          {% if perms.vendas.view_pedidovenda %}
          <tr {% if agenda_hoje.pedido_venda_hoje %}class="hoje"{% endif %}>
            <td> 
              <a href="{% url 'vendas:listapedidovendahojeview' %}">
                <div style="height:100%;width:100%;">
                  <b>{{agenda_hoje.pedido_venda_hoje}}</b> Pedidos de venda com entrega hoje 
                </div>
              </a>              
            </td>
          </tr> 
          {% endif %}
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <div class="card inicial-card">
   <div class="header">
    <h2><i class="material-icons" style="color:#c2c240;">&#xE85A;</i>ALERTAS ({{data_atual}})</h2>
  </div>
  <div class="body">
    <table class="table table-hover">
      <tbody>
        {% if perms.vendas.view_pedidovenda %}
        <tr {% if alertas.pedidos_venda_atrasados %}class="alerta"{% endif %}>
          <td> 
            <a href="{% url 'vendas:listapedidovendaatrasadosview' %}">
              <div style="height:100%;width:100%;">
                <b>{{alertas.pedidos_venda_atrasados}}</b> Pedidos de venda atrasados
              </div>
            </a>              
          </td>
        </tr> 
        {% endif %}
      </tbody>
    </table>
  </div>

</div>
</div>

</div>
</div>
</section>


{%endblock%}